In [1]:
import requests
import json
import csv
import pandas as pd

In [8]:
df_NY_Bars = pd.read_csv('./NYC_Bars_Clean.csv', index_col = 0)
df_Boston_Bars = pd.read_csv('./Boston_Bars_Clean.csv', index_col = 0)

df_NY_Reviews = pd.read_csv('./NYC_Reviews_Clean.csv', index_col = 0)
df_Boston_Reviews = pd.read_csv('./Boston_Reviews_Clean.csv', index_col = 0)

In [16]:
df_NY_Bars.nlargest(5,['Review Count'])

,Name,Address,Business ID,Rating,Review Count,Coordinates,Price
159,Jacob's Pickles,"['509 Amsterdam Ave', 'New York, NY 10024']",xt4sa64WOrpJvZBDPNPNYg,4.0,4397,"{'latitude': 40.7866504411994, 'longitude': -7...",2
270,Jane,"['100 W Houston St', 'New York, NY 10012']",uoT2_Wrt1noD6kZOID7tUg,4.0,3149,"{'latitude': 40.7273779, 'longitude': -74.00025}",2
68,Dinosaur Bar-B-Que,"['700 W 125th St', 'New York, NY 10027']",XzUW9MvEGOFs9_aNj11j2Q,4.0,3120,"{'latitude': 40.818098338924, 'longitude': -73...",2
166,Gramercy Tavern,"['42 E 20th St', 'New York, NY 10003']",veq1Bl1DW3UWMekZJUsG1Q,4.5,2941,"{'latitude': 40.73844, 'longitude': -73.98825}",4
170,Juliana's,"['19 Old Fulton St', 'Brooklyn, NY 11201']",ysqgdbSrezXgVwER2kQWKA,4.5,2295,"{'latitude': 40.70274718768062, 'longitude': -...",2

In [17]:
df_Boston_Bars.nlargest(5,['Review Count'])

,Name,Address,Business ID,Rating,Review Count,Coordinates,Price
13,Neptune Oyster,"['63 Salem St', 'Boston, MA 02113']",y2w6rFaO0XEiG5mFfOsiFA,4.5,5165,"{'latitude': 42.36321, 'longitude': -71.05594}",3
144,Union Oyster House,"['41 Union St', 'Boston, MA 02108']",Ruq91rmQNweZ78TzKylQMg,3.5,2855,"{'latitude': 42.36126, 'longitude': -71.05688}",2
197,Atlantic Fish Co,"['761 Boylston St', 'Boston, MA 02116']",AGR_kBvN__I7aTl0rBywAg,4.0,2604,"{'latitude': 42.3492217873536, 'longitude': -7...",3
43,The Beehive,"['541 Tremont St', 'Boston, MA 02116']",367aDatN4B0UNT4hNPMqPQ,3.5,2195,"{'latitude': 42.344493, 'longitude': -71.071497}",2
19,Lolita Cocina & Tequila Bar Back Bay,"['271 Dartmouth St', 'Boston, MA 02116']",u51e3gychuqBYNqe2xG6_w,4.0,2176,"{'latitude': 42.3505860446405, 'longitude': -7...",2

In [18]:
df_NY_Bars.nlargest(1,['Rating'])

,Name,Address,Business ID,Rating,Review Count,Coordinates,Price
15,The Commissioner,"['247 5th Ave', 'Brooklyn, NY 11215']",xHgMfdyLA5SPQz4c3ItTgg,5.0,141,"{'latitude': 40.67487, 'longitude': -73.98137}",1

In [19]:
df_Boston_Bars.nlargest(1,['Rating'])

,Name,Address,Business ID,Rating,Review Count,Coordinates,Price
62,Allston Billiards,"['445 Cambridge St', 'Fl 2', 'Boston, MA 02134']",WhOZfqo49chqzdt15iluQA,5.0,6,"{'latitude': 42.35467, 'longitude': -71.13542}",1

In [60]:
NY_FourHalfStars = (df_NY_Bars['Rating'].values ==4.5).sum()
NY_FiveStars = (df_NY_Bars['Rating'].values ==5).sum()
Boston_FourHalfStars = (df_Boston_Bars['Rating'].values ==4.5).sum()
Boston_FiveStars = (df_Boston_Bars['Rating'].values == 5).sum()

In [61]:
y = (Boston_FiveStars+Boston_FourHalfStars+NY_FiveStars+NY_FourHalfStars)

#14 total were dropped
y_percent = ((y/586) * 100).round(2)

In [62]:
NY_FourStars = (df_NY_Bars['Rating'].values ==4).sum()
Boston_FourStars = (df_Boston_Bars['Rating'].values ==4).sum()
x = (NY_FourStars + Boston_FourStars)
x_percent = ((x/586) * 100).round(2)
Z_percent = 100 - (y_percent+x_percent)

In [63]:
Z_percent

37.2

In [68]:
NY_Less = (df_NY_Bars['Rating'].values <= 3).sum()
Boston_Less = (df_Boston_Bars['Rating'].values <= 3).sum()
LessThan3 = (((NY_Less+Boston_Less)/586) *100).round()
LessThan3

9.0

In [77]:
NY_Price4 = (df_NY_Bars['Price'].values == 4).sum()
Boston_Price4 = (df_Boston_Bars['Price'].values == 4).sum()
dataPrice4 = (((NY_Price4+Boston_Price4)/586)*100).round()
dataPrice4

1.0