In [1]:
import requests
import json
import pandas as pd

In [2]:
!Pwd

/Users/a_conte/Documents/Flatiron/Phase_1_Project

In [3]:
!ls -a

.                      .secrets               Script.ipynb
..                     Boston.ipynb           Script_Use.py
.DS_Store              NY_Use.ipynb           __pycache__
.gitignore             New York Reviews.ipynb
.ipynb_checkpoints     New York.ipynb

In [4]:
!echo '{"id": "qD3df2spUAnavWJQ5NNDJA", "key": "lDOH3Sz2cLDQi3QI4dAx5iXC6QHj8OIdGLzmNiPDFaHSo6GQJjlN9yfXG4WE_kBzRJ79DU56XmUsP63hgIMWKaC9ryfwb_yXgCIkVq3PKIRBTRpH6-a3AUTtOEqZYHYx"}' > creds.json

In [5]:
!ls -a

.                      .secrets               Script.ipynb
..                     Boston.ipynb           Script_Use.py
.DS_Store              NY_Use.ipynb           __pycache__
.gitignore             New York Reviews.ipynb creds.json
.ipynb_checkpoints     New York.ipynb

In [6]:
!mv creds.json .secrets/

In [7]:
!ls -a .secrets/

.          ..         creds.json

In [29]:
with open(".secrets/creds.json") as f:
    creds = json.load(f)

In [36]:
url = 'https://api.yelp.com/v3/businesses/search'
term = 'sports bar'
location = 'New York City'
#SEARCH_LIMIT = 50
headers = {
    'Authorization': 'Bearer ' + creds['key']
}

url_params = {
                "term": term.replace(' ', '+'),
                "location": location.replace(' ', '+'),
                "limit": 50,
                "offset": 0,
    
    
    
            }

response = requests.get(url, headers=headers, params=url_params)
print(response.status_code)

200

In [47]:
from Script_Use import *

In [48]:
csv_filepath = './NewYorkBars.csv'

In [49]:
cur = 0
#set up a while loop to go through and grab the result 
while cur < 300:
    #set the offset parameter to be where you currently are in the results 
    url_params['offset'] = cur
    #make your API call with the new offset number
    results = yelp_call(url_params, creds)
    yelp_results = results.json()
    business = yelp_results['businesses']
    
    #after you get your results you can now use your function to parse those results
    parsed_results = parse_data(business)
    # use your function to insert your parsed results into the db
    
    df_save(csv_filepath ,parsed_results)
    #increment the counter by 50 to move on to the next results
    cur += 50

In [50]:
df = pd.read_csv(csv_filepath)

In [51]:
df

,0,The Three Monkeys,"['236 W 54th St', 'New York, NY 10019']",IBgjj5VBu5JJvKgo9EzKrg,4.0,1193,"{'latitude': 40.764164, 'longitude': -73.98306}",$$
0,1,Luckydog,"['303 Bedford Ave', 'Brooklyn, NY 11211']",3Uzy1yp1SXq3FG-i2hEcyA,4.0,299,"{'latitude': 40.71348, 'longitude': -73.96166}",$
1,2,Above Rooftop,"['1100 S Ave', 'Staten Island, NY 10314']",SG0oXcpWb5te6iB9n_A1eg,3.0,50,"{'latitude': 40.6145264, 'longitude': -74.1771...",NaN
2,3,The White Elephant,"['1065 Manhattan Ave', 'Brooklyn, NY 11222']",w_MivZdsc1qGowQgj-eAaA,5.0,3,"{'latitude': 40.7350196838379, 'longitude': -7...",NaN
3,4,Pint,"['34 Wayne St', 'Jersey City, NJ 07302']",SDgXhdIDqhOo2E3t8e15Eg,4.0,148,"{'latitude': 40.7190548557359, 'longitude': -7...",$
4,5,e's BAR,"['511 Amsterdam Ave', 'New York, NY 10024']",GXh9YpX4v8Wemrq-SPDPhA,4.0,356,"{'latitude': 40.786692073145, 'longitude': -73...",$$
...,...,...,...,...,...,...,...,...
294,45,Down the Hatch,"['179 W 4th St', 'New York, NY 10014']",_owMBYfzT9dO7FXGXXzXqA,3.5,562,"{'latitude': 40.73247, 'longitude': -74.00163}",$$
295,46,Blue Smoke,"['255 Vesey St', 'New York, NY 10282']",tA1QO_GParSsaOaO8UoBvQ,3.5,649,"{'latitude': 40.714486, 'longitude': -74.0152768}",$$
296,47,Treadwell Park,"['301 S End Ave', 'New York, NY 10280']",oBAxfAeF6OBukPg3WLmiRg,4.0,160,"{'latitude': 40.7102746, 'longitude': -74.0164...",$$
297,48,White Oak Tavern,"['21 Waverly Pl', 'New York, NY 10003']",mVN2G1c5bRtAsNlr2Tbx6Q,4.0,359,"{'latitude': 40.73036, 'longitude': -73.99462}",$$
298,49,The Winslow Gin House And Eatery,"['243 E 14th St', 'New York, NY 10003']",3NbhYebjZPjLTWZZyRuhsw,4.5,541,"{'latitude': 40.7327766418457, 'longitude': -7...",$$